pipeline/PL-FilePicker.json
{
	"name": "PL-FilePicker",
	"properties": {
		"activities": [
			{
				"name": "GetAllFilesMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_allFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LoopOverAllFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetAllFilesMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllFilesMetadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetMetadataOfEachFile",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_dynamicFile",
									"type": "DatasetReference",
									"parameters": {
										"ds_fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "isTheFileNew",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetMetadataOfEachFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(ticks(item().lastModified), ticks(variables('LatestModifiedDate')))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "FileName",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "LatestFileName",
											"value": {
												"value": "@activity('GetMetadataOfEachFile').output.itemName",
												"type": "Expression"
											}
										}
									},
									{
										"name": "LastModified",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "FileName",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "LatestModifiedDate",
											"value": {
												"value": "@activity('GetMetadataOfEachFile').output.lastModified",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Pick And Copy",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "isTheFileNew",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_dynamicFile",
									"type": "DatasetReference",
									"parameters": {
										"ds_fileName": {
											"value": "@variables('LatestFileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_output",
									"type": "DatasetReference",
									"parameters": {
										"ds_outFile": {
											"value": "@variables('LatestFileName')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"LatestFileName": {
				"type": "String"
			},
			"LatestModifiedDate": {
				"type": "String",
				"defaultValue": "1900-01-01T00:00:00Z"
			}
		},
		"annotations": []
	}
}